--
-- PostgreSQL database dump
--

\restrict 0vsV9gW9kwfu3IEiAwLh7oVhcDmZL1Zx7uI6Ei86WYwZF9fx5Vf85Yj5idtNHnB

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bc11; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bc11 (
    id uuid NOT NULL,
    manifest_id uuid NOT NULL,
    bc11_number character varying(50) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.bc11 OWNER TO postgres;

--
-- Name: manifest_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manifest_details (
    id uuid NOT NULL,
    manifest_id uuid NOT NULL,
    container_no character varying(50) NOT NULL,
    goods_description text NOT NULL,
    quantity bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.manifest_details OWNER TO postgres;

--
-- Name: manifests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manifests (
    id uuid NOT NULL,
    manifest_number character varying(50) NOT NULL,
    vessel_id uuid NOT NULL,
    shipping_agent_id uuid NOT NULL,
    status character varying(20) DEFAULT 'DRAFT'::character varying NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.manifests OWNER TO postgres;

--
-- Name: npes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.npes (
    id uuid NOT NULL,
    bc11_id uuid NOT NULL,
    npe_number character varying(50) NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.npes OWNER TO postgres;

--
-- Name: shipping_agents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shipping_agents (
    id uuid NOT NULL,
    agent_code character varying(50) NOT NULL,
    agent_name character varying(100) NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.shipping_agents OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: vessels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vessels (
    id uuid NOT NULL,
    vessel_code character varying(50) NOT NULL,
    vessel_name character varying(100) NOT NULL,
    arrival_date timestamp with time zone NOT NULL,
    departure_date timestamp with time zone NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.vessels OWNER TO postgres;

--
-- Data for Name: bc11; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manifest_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manifests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: npes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shipping_agents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vessels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bc11 bc11_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bc11
    ADD CONSTRAINT bc11_pkey PRIMARY KEY (id);


--
-- Name: manifest_details manifest_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manifest_details
    ADD CONSTRAINT manifest_details_pkey PRIMARY KEY (id);


--
-- Name: manifests manifests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manifests
    ADD CONSTRAINT manifests_pkey PRIMARY KEY (id);


--
-- Name: npes npes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.npes
    ADD CONSTRAINT npes_pkey PRIMARY KEY (id);


--
-- Name: shipping_agents shipping_agents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shipping_agents
    ADD CONSTRAINT shipping_agents_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vessels vessels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessels
    ADD CONSTRAINT vessels_pkey PRIMARY KEY (id);


--
-- Name: idx_bc11_bc11_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_bc11_bc11_number ON public.bc11 USING btree (bc11_number);


--
-- Name: idx_bc11_manifest_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_bc11_manifest_id ON public.bc11 USING btree (manifest_id);


--
-- Name: idx_manifest_details_container_no; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_manifest_details_container_no ON public.manifest_details USING btree (container_no);


--
-- Name: idx_manifests_manifest_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_manifests_manifest_number ON public.manifests USING btree (manifest_number);


--
-- Name: idx_npes_bc11_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_npes_bc11_id ON public.npes USING btree (bc11_id);


--
-- Name: idx_npes_npe_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_npes_npe_number ON public.npes USING btree (npe_number);


--
-- Name: idx_shipping_agents_agent_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_shipping_agents_agent_code ON public.shipping_agents USING btree (agent_code);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_vessels_vessel_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_vessels_vessel_code ON public.vessels USING btree (vessel_code);


--
-- Name: npes fk_bc11_npe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.npes
    ADD CONSTRAINT fk_bc11_npe FOREIGN KEY (bc11_id) REFERENCES public.bc11(id);


--
-- Name: bc11 fk_manifests_bc11; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bc11
    ADD CONSTRAINT fk_manifests_bc11 FOREIGN KEY (manifest_id) REFERENCES public.manifests(id);


--
-- Name: manifest_details fk_manifests_manifest_details; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manifest_details
    ADD CONSTRAINT fk_manifests_manifest_details FOREIGN KEY (manifest_id) REFERENCES public.manifests(id);


--
-- Name: manifests fk_manifests_shipping_agent; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manifests
    ADD CONSTRAINT fk_manifests_shipping_agent FOREIGN KEY (shipping_agent_id) REFERENCES public.shipping_agents(id);


--
-- Name: manifests fk_manifests_vessel; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manifests
    ADD CONSTRAINT fk_manifests_vessel FOREIGN KEY (vessel_id) REFERENCES public.vessels(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 0vsV9gW9kwfu3IEiAwLh7oVhcDmZL1Zx7uI6Ei86WYwZF9fx5Vf85Yj5idtNHnB

